@define-color fg #FFFFFF; /* Change text color to white */
@define-color bg #04070F;
@define-color bordercolor #51A4E7;
@define-color disabled #323439;
@define-color alert #E67E80;
@define-color activegreen #26A65B;
@define-color highlight #DBBC7F;
@define-color bluetooth #0082FC;

* {
  min-height: 0;
  font-family: "JetBrains Mono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

window#waybar {
  color: @fg;
  background: transparent; /* Make background transparent */
  transition-property: background-color;
  transition-duration: 0.5s;
  border: 0px solid @bordercolor;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0px;
  padding: 0px 5px;
  margin: 5px 0px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px transparent;
}

#workspaces button {
  color: @fg;
}

#workspaces button.urgent {
  color: @alert;
}
#workspaces button.empty {
  color: @disabled;
}

#workspaces button.active {
  color: @bordercolor;
}

#clock,
#cava,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#language,
#backlight,
#backlight-slider,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#taskbar,
#tray,
#bluetooth,
#tray menu,
#tray > .needs-attention,
#tray > .passive,
#tray > .active,
#mode,
#scratchpad,
#custom-notification,
#custom-wifi,
#custom-kdeconnect,
#custom-power,
#custom-separator,
#idle_inhibitor,
#window,
#mpd {
  padding: 0px 2px;
  margin: 0px 5px;
  color: @fg; /* Set icon color to white */
}

#custom-notification,
#custom-wifi,
#custom-power,
#idle_inhibitor {
  color: @fg; /* Set icon color to white */
}

#bluetooth.on,
#bluetooth.connected {
  color: @bluetooth; /* Set icon color to blue */
}
#bluetooth.discoverable,
#bluetooth.discovering,
#bluetooth.pairing {
  color: @activegreen;
}
#bluetooth.off,
#bluetooth.disabled {
  color: @disabled;
}

#clock,
#custom-group {
  color: @fg; /* Set icon color to white */
  background-color: @bg;
  margin: 2px;
  padding: 0px 5px;
  border-radius: 5px;
}

#custom-separator {
  padding: 0px;
  margin: 0px;
  color: @disabled;
}

#custom-power {
  color: @alert;
}

#tray {
  border: 0px solid @bordercolor;
  margin: 1px;
  padding: 0px 15px;
  border-radius: 5px;
}

#network.disconnected,
#pulseaudio.muted,
#wireplumber.muted {
  color: @alert;
}

#battery.charging,
#battery.plugged {
  color: @activegreen;
}

label:focus {
  background-color: @bg;
}

window#waybar.fullscreen {
  color: #51a4e7;
}

#battery.critical:not(.charging) {
  background-color: @alert;
  color: @fg;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
